/* normalize */
body {
  margin: 0
}
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.section-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 500px;
  background: #efefef;
}

.container {
  background: #777;
  position: relative;
  width: 100%;
  max-width: 1210px;
  padding: 20px;
  margin: 0 auto;
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@for $i from 1 through 36 { 
  .tile__item:nth-of-type(#{$i}) {
    // multiply by 10 for larger hue increments
    background: hsl($i * 80, 50%, 50%);
  }
}


//grid set up

.tile__row {
  width: 100%;
  height: auto;
  font-size: 0;
  letter-spacing: 0;
  position: relative;

   &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.tile__item {
  display: inline-block;
  float: left;
  // margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 15px;
}

// .mb-only {
//   margin: 0;
//   margin-bottom: 20px;
// }

.tile__w--1-3 {
  width: calc(100% * 1/3 - 20px);
}

.tile__w--2-3 {
  width: calc(100% * 2/3 - 20px); 
}

.tile__w--3-3 {
  width: calc(100% - 20px);
}

.tile__w--1-2 {
  width: 50%;
}

.tile__w--1-1 {
  width: 100%;
  background: tomato !important;
}

.tile__h--1 {
  height: 285px;
}

.tile__h--2 {
  height: 403px;
}

.tile__h--3 {
  height: 455px;
}

.tile__h--4 {
  height: 577px;
}

.tile__h--1-1 {
  height: 100%;
}

.tile__mt--1 {
  margin-top: -122px;
}

.tile__mt--2 {
  margin-top: -180px;
}

.tile__mt--3 {
  margin-top: -170px;
}

.tile__h--1-2 {
  height: calc(50% - 10px);
}

.no-m {
  margin: 0;
}

.mb-only {
  margin: 0;
  margin-bottom: 10px;
}

.mt-only {
  margin: 0;
  margin-top: 10px; 
}

.gutter {
  &--r {
    margin-right: 10px;
  }

  &--l {
    margin-left: 10px;
  }

  &.tile__w--1-2 {
    width: calc(50% - 10px);
  }
}